.play {
  position: relative;
}

.subtitle {
  margin-bottom: 2rem;
}

.track:hover {
  opacity: .5;

  & ~ .icon {
    opacity: 1;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .25s ease;
  pointer-events: none;
}
