@import "src/utils";

.input {
  width: 100%;
  margin: 0 0 2rem;
  padding: 1rem 1.5rem;
  background-color: var(--gray-200);
  border-radius: 8px;

  @include with-breakpoint(laptop) {
    margin: 0 8rem 2rem;
    width: calc(100% - 16rem);
  }
}
