@import "src/utils";

.wrapper {
  display: flex;
  align-items: center;
  margin: 1rem 0;

  @include with-breakpoint(tablet) {
    position: sticky;
    top: 11rem;
    height: calc(100vh - #{$navigation} - 6rem);
  }
}

.start {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
}

.icon {
  width: 2rem;
  margin-left: .25rem;
}
