.navigation {
  position: sticky;
  top: 0;
  background-color: var(--gray-0);
  border-top: 3px solid var(--green-200);
  z-index: 10;
}

.inner {
  flex-direction: row !important;
  align-items: center;
  height: 8rem;
}

.brand {
  flex: 1;
}

.logo {
  height: 1rem;
}

.link {
  margin-right: 1rem;
  background-color: var(--gray-0) !important;
  color: var(--gray-500) !important;
}
