.playlist {
  display: flex;

  & > label {
    opacity: .5;

    &:hover {
      cursor: pointer;
    }
  }
}

.input {
  &:checked ~ label {
    opacity: 1;
  }

  &:focus ~ label {
    box-shadow: 0 0 0 3px var(--green-300);
  }
}
